body {

  /* style settings for the body section*/
    background-color: #052A48; /* just in case the background picture isn't visible */
    font-family: Intel, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  main {  /* main sections padding settings */
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    width: 10px; /* width */
    height: auto; /* height */
    object-fit: cover; /* the image covers the area without distortion */
  }
  
  h2 {
    margin-top: 20px;
    padding: 10px;
    font-size: 64px;
    font-weight: bold;
    font-style: italic;
  }

  .painting-image {
    width: 300px; /* width */
    height: auto; /* height */
    object-fit: cover; /* the image covers the area without distortion */
}

  /* black back-ground element style*/
  .black-background {
    background-color: #000000;
    color: #FFFFFF; 
    padding: 20px;
    
    font-style: italic;
    font-size: 20px;
    padding: 10px; /* Default padding for smaller screens */
}

  /*link style*/
  .white-link {
    color: #FFFFFF; 
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
  }
  
/*header text style */
  .header-text {
    margin-top: 20px;
    padding: 10px;
    font-size: 64px;
    font-weight: bold;
    font-style: italic;
  }

  /* alignments for text settings*/
  .left-align {
      text-align: left;
  }

  .right-align {
    text-align: right;
  }

  .header {
    background-color: #000000;
  }
  
  /* button style */
  .button {
    background-color: #000000; 
    color: #FFFFFF; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-style: italic;
}
  
  .artist-name {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    position: relative; /* the shade is positioned relative to the text */
    padding: 10px; /* Add padding to make the fade effect visible */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)); /* Dark fade effect */
    color: white; /* Ensure the text color contrasts with the background */
  }

  /* footer settings and colous */
  
  .footer-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000000;
    position: fixed; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    z-index: 1000; /*Ensures the footer stays on top of other elements */
}

.footer-section div {
    width: 45%;

}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

header.black-background {
  display: block; /* The header is visible by default */
}

main {
  padding-bottom: 200px; /* Padding so that footer doesn't block the view */
}

.image-row a, .image-row img {
  flex: 1 1 45%; /* Adjust the percentage as needed */
  margin: 10px;
}

.image-row { /* center images and flex align*/
  display: flex; 
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
}

.image-container {
    flex: 1 1 45%; /* Adjust the percentage to control the width */
    margin: 10px;
  }


.painting-image { /* image size for rectangle painting*/
  width: 100%;
  height: auto;
  max-width: 300px; /* Max-width to prevent images from being too large */
}

.painting-info {
  margin-top: 10px;
  font-size: 22px;
  position: relative; /* the shade is positioned relative to the text */
  padding: 10px; /* Add padding to make the fade effect visible */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)); /* Dark fade effect */
  color: white; /* Ensure the text color contrasts with the background */
}

.img {
  width: 100px; /* width */
  height: auto; /* aspect ratio auto */
  float: left; /* Aligns the image to the left */
  margin-right: 10px; /* Adds some space between the image and the text */
}

/* settings for different sizes of screens */

/* Show footer on smaller screens */
@media (max-width: 768px) {
  .footer-section {
      display: flex;
  }
  /* Hide header on smaller screens */
  header.black-background {
    display: none;
  }
  .image-row {
    flex-direction: column; /* pictures in column istead of the row in smaller screens */
  }
  .image-container {
      flex: 1 1 100%; /* Full width on small screens */
  }
}

/* Hide footer on larger screens (e.g., desktops) */
@media (min-width: 768px) {
  .footer-section {
      display: none;
  }
  .black-background {
    padding: 40px; /* More padding for larger screens for black-background */
  } 
}

@media (min-width: 1200px) {
  .black-background {
      padding: 30px; /* More padding for very large screens for black-background */
  }
}
